
<div class="fill">
    <div class="container">
        <a class="brand" href="#"><%= $.t('brand') %></a>
        <ul class="nav">
            <li> <!-- class="active" -->
                <a href="#"><%= $.t('home') %></a>
            </li>
            <li>
                <a href="#!malaga"><%= $.t('malaga') %></a>
            </li>
            <li>
                <a href="#!berlin"><%= $.t('berlin') %></a>
            </li>
            <li>
                <a href="#!oviedo"><%= $.t('oviedo') %></a>
            </li>
            <li>
                <a href="#!about"><%= $.t('about') %></a>
            </li>
            <li>
                <a href="#!contact"><%= $.t('contanct') %></a>
            </li>
        </ul>
        <form action="" class="pull-right">
            <input class="input-medium" type="search" placeholder="<%= $.t('search-placeholder') %>" />
            <button class="btn" type="submit"><%= $.t('search') %></button>
        </form>
    </div>
</div>